<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TTLabs.TaskBreakTimer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskBreakTimer.">
        <activity android:name="com.TTLabs.TaskBreakTimer.About"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.TTLabs.TaskBreakTimer.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.Legal_Notice"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.TTLabs.TaskBreakTimer.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.TTLabs.TaskBreakTimer.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.StartBreak"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.StartBothTimers"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.StartTask"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.EditTask"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.createNewTask"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.TTLabs.TaskBreakTimer.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>